html {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    color: #555;
}

.myTableStyle {
    text-align: left;
    color: #555;
}

h1 {
    color: #333333;
}

h2 {
    margin-top: 2em;
    color: #333333;
}

.boxi {
    width: 100%;
    border: 1em solid white;
    background-color: rgb(175, 175, 175);
}